.rupture .col2{width: 49%; display: inline-block}
.rupture .identity{width: 79%; display: inline-block; border:1px solid #000; border-radius: 20px;    position: relative;top: -23px;padding: 12px;}
.rupture .identity .col2 span{width:100%; display:block}
.rupture .nub {width: 49%; display: inline-block; border:1px solid #000; border-radius: 20px;padding: 12px; }
.rupture .nub span{width:30%; display:inline-block}
.rupture .nub input{width:20px; display: inline-block}
.rupture .avatar{width: 20%;display: inline-block;}
.rupture .stats{width:49%;border:1px solid #000; border-radius: 20px;padding: 12px; margin-top: 20px; display: inline-block;}
.rupture .stat input{width:40px;height:40px; display: inline-block; text-align: center;margin-bottom: 5px}
.rupture .stat input.base, .rupture .regene{border: 2px solid #000; border-radius: 50%;}
.rupture .stat input.bonus{border: 2px solid #000; border-radius:0;}
.rupture .stat {width:100%; display: block}
.rupture .stat .dice{width:30%; display: inline-block;text-transform: capitalize;}
.rupture .compts, .rupture .list{width:100%;border:1px solid #000; border-radius: 20px;padding: 12px; margin-top: 20px;}
.rupture .colonne{columns: 2}
.rupture .dice{cursor: pointer;}
.rupture .stat .second{width: 29px}
.rupture .items-list li{width:100%;list-style: none}
.rupture .items-list li img{margin-top: 3px}
.rupture .items-list li img,.rupture .items-list .item-image ,.rupture .items-list .item-qty {width:20px;display: inline-block;}
.rupture .items-list .item-name {width: 30%;display: inline-block;} 
.rupture .items-list .item-description {width: 30%;display: inline-block;} 
.rupture .items-list .item-valeur {width: 40px;display: inline-block;} 
.rupture .items-list li div {display:inline-block;}
.rupture input.subcompt{width: 115px;height: 28px;text-align: left;}
.rupture .add-sub-competence, .rupture .rm-sub-competence{border-radius: 5px;border: solid 1px #000;width: 40px;display: inline-block;height: 40px;font-size: 2em;text-align: center;vertical-align: middle;}
.rupture .rm-sub-competence{margin-left: -2px}
.rupture .stat .stat{background: #c9c7b8}